{
    "presets": [
        [
            "@babel/preset-react",
            {
                "pragma": "MyLib.jsx", // default pragma is React.createElement (only in classic runtime)
                "pragmaFrag": "DomFrag" // default is React.Fragment (only in classic runtime)
                // "runtime": "automatic" // defaults to classic
                // "importSource": "@selimbat/vdom-deep-dive/src/lib" // defaults to react (only in automatic runtime)
            }
        ],
        [
            "@babel/preset-typescript",
            {
                "isTSX": true,
                "allExtensions": true,
                "jsxPragma": "MyLib.jsx",
                "onlyRemoveTypeImports": true
            }
        ]
    ]
}